<!doctype html>
<html lang="zh">

<head>
    <%- include('./template/head.ejs',{title:'Top练习'}) %>
</head>
<style>
    #active {
        color: #5172ff;
    }
</style>

<body>
    <!-- 导航   -->
    <%- include('./template/header.ejs')  %>

        <!-- banner -->
        <%- include('./template/banner.ejs')  %>

            <!-- 指南内容 部分  -->
            <%
                        const links =  [
                         { path : '/exercise', name : '练习听力',english:'LISTENING' },
                             { path : '/exercise/listen', name : '练习听力',english:'LISTENING' },
                             { path : '/exercise/read', name : '练习阅读',english:'READING' },
                             { path : '/exercise/spoken', name : '练习口语',english:'SPAKEING' },
                             { path : '/exercise/write', name : '练习写作',english:'WRITEING' }
                        ];
             %>
                <%var mId=request.session.user.id%>
                    <div class="guide_page" style=" margin-top: 20px;">
                        <div class="Tn-wid1180 Tn-marauto">
                            <div class="dropDownMenu ">
                                <dl class="other-dl">
                                    <%
                                    var url=request.originalUrl.split("/")[2];
                                    %>
                                        <%if(url.split('?')[0]=='daun'){%>
                                               <%url='listen'%>
                                        <%}%>
                                        <dd>
                                            <a href="/exercise/listen" class="<%=url=='listen'?'active':''%>">听力练习</a>
                                        </dd>

                                </dl>
                                <dl>
                                    <dd>
                                        <a href="/exercise/read" class="<%=url=='read'?'active':''%>">阅读练习</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dd>
                                        <a href="/exercise/spoken" class="<%=url=='spoken'?'active':''%>">口语练习</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dd>
                                        <a href="/exercise/write" class="<%=url=='write'?'active':''%>">写作练习</a>
                                    </dd>
                                </dl>

                            </div>
                            <div class="clearfix">
                                <!--练习左侧-->
                                <div class="fl Tn-wid880">
                                    <!--练习标题-->

                                    <div class="Tn-pb-witbg Tn-mt20">
                                        <dl class="Tn-fl-listtop clearfix" id="secondCondition">
                                            <dt class="">
                                                <a href="<%=request.originalUrl.split('/daun')[0]%>">全部TPO</a>
                                            </dt>
                                            <dd>
                                                <% var start=request.originalUrl.split("?")[1].split('&')[0].split('=')[1]; %>
                                                    <% var page = Math.floor(num/5);%>
                                                <%for(var i  = 0;i<=page;i++){%>
                                                    <%if(i< page){%>
                                                    <%var id = (start>(i*5+1)-1&&start<(i*5+5)+1)? 'active': ''%>
                                                    <a href="<%=request.originalUrl.split('?')[0]%>?start=<%=(i*5+1)%>&num=5" id="<%=id%>">
                                                        <%=i*5+1%>-
                                                            <%=i*5+5%>
                                                    </a>
                                                    <%}else{%>
                                                    <%var id = (start>(i*5+1)-1&&start< (num+1))? 'active': ''%>
                                                    <a href="<%=request.originalUrl.split('?')[0]%>?start=<%=(i*5+1)%>&num=5" id="<%=id%>">
                                                        <%=i*5+1%>-
                                                            <%=num%>
                                                    </a>
                                                <%}%>
                                                    <%}%>
                                            </dd>
                                        </dl>
                                        <div id="questionList">
                                            <div class="Tn-llbox">
                                                <ul class="Tn-l-list-ul clearfix Tn-mt20">
                                                    <li class="Tn-wid618 Tn-ll-left">
                                                        <div class="Tn-wid335">
                                                            <h1>Title/Topic</h1>
                                                        </div>
                                                        <div class="Tn-wid60">
                                                            <h2>难 度</h2>
                                                        </div>
                                                        <div class="Tn-wid110">
                                                            <h2>平均正确</h2>
                                                        </div>
                                                        <div class="Tn-wid100">
                                                            <h2>我的结果</h2>
                                                        </div>
                                                    </li>

                                                </ul>
                                                <% data.forEach(val=>{%>

                                                    <ul class="Tn-l-list-ul clearfix Tn-l-list-ulbg">
                                                        <li class="Tn-wid618 Tn-list-rightline Tn-ll-left">
                                                            <div class="Tn-wid335">
                                                                <h3>
                                                                    <% var str=request.originalUrl.split("/")[2];
                                                                        if(str.substr(0,4) == "daun"){
                                                                            str = "listen";
                                                                        }
                                                                    %>
                                                                        <a href="/exercise/<%=str%>/preview?id=<%=val.id%>">
                                                                            <%=(val.title.length>20)?val.title.substring(0,20)+'······':val.title%>
                                                                        </a>

                                                                </h3>
                                                                <p>
                                                                    <%=val.topic%>
                                                                </p>
                                                            </div>
                                                            <div class="Tn-wid60">
                                                                <h4>
                                                                    <%=val.level%>
                                                                </h4>
                                                            </div>
                                                            <div class="Tn-wid110">
                                                                <h4>
                                                                    <%if(val.total){%>
                                                                        <i class="qPcount_24172">
                                                                            <%=Math.round((val.righth/val.total)*100)%>%
                                                                        </i>
                                                                        <%}else{%>
                                                                            <div class="Tn-wid100">
                                                                                <h4>--</h4>
                                                                            </div>
                                                                            <%}%>
                                                                </h4>
                                                            </div>
                                                            <div class="Tn-wid100">
                                                                <h4>
                                                                    <%if(val.mytotal){%>
                                                                        <i class="qPcount_24172">
                                                                            <%=Math.round((val.myrighth/val.mytotal)*100)%>%
                                                                        </i>
                                                                        <%}else{%>
                                                                            <div class="Tn-wid100">
                                                                                <h4>--</h4>
                                                                            </div>
                                                                            <%}%>
                                                                </h4>
                                                            </div>
                                                        </li>
                                                        <li class="Tn-wid210 Tn-ll-right Tn-tright">
                                                            <h3 class="clearfix">
                                                                <em class="Tn-lem01"></em>
                                                                <% var mock,mockRId;var str = request.originalUrl.split("/")[2]%>
                                                                    <% if(str=='listen'){%>
                                                                        <a href="/exercise/listen/translate/first?id=<%=val.id%>&mId=<%=mId%>">进入练习</a>
                                                                        <%}else if(str=='read'){%>
                                                                            <a href="/exercise/read/translate?id=<%=val.id%>&mId=<%=mId%>">进入练习</a>
                                                                            <%}else if(str=='spoken'){%>
                                                                                <a href="/exercise/spoken/translate/first?id=<%=val.id%>&mId=<%=mId%>&mock=<%=mock%>&mockRId=<%=mockRId%>">做题练习</a>
                                                                                <%}else if(str=='write'){%>
                                                                                    <a href="/exercise/write/translate/first?id=<%=val.id%>&mock=<%=mock%>&mockRId=<%=mockRId%>&mId=<%=mId%>">进入练习</a>
                                                                                    <%}else{%>
                                                                                        <a href="/exercise/listen/translate/first?id=<%=val.id%>&mId=<%=mId%>">进入练习</a>
                                                                                        <%}%>
                                                            </h3>

                                                        </li>
                                                    </ul>
                                                    <%})%>

                                            </div>
                                        </div>

                                    </div>

                                </div>


                                <!--练习右侧--未登录-->


                                <div class="fr Tn-wid280" style="margin-top: 20px">
                                    <!--未登录-->

                                    <%if(!request.session.user){%>
                                        <div class="Tn-pb-witbg Tn-wid280" style="margin-top:20px">
                                            <dl class="Tn-l-userlogin clearfix">
                                                <dt>
                                                    <img src="/images/user.png" width="60" height="60">
                                                </dt>
                                                <dd>
                                                    <h1>欢迎来到贝英尔</h1>
                                                    <p>登录即可查看学习记录</p>
                                                </dd>
                                            </dl>
                                            <div class="Tn-l-userbtn">
                                                <input name="" type="button" onclick="javascript:window.location.href='/login'" value="立即登录" class="Tn-lr-login">
                                                <input name="" type="button" onclick="javascript:window.location.href='/register'" value="立即注册" class="Tn-lr-register Tn-ml20">
                                            </div>
                                        </div>
                                        <%}else{%>
                                            <div class="Tn-pb-witbg Tn-wid280">
                                                <dl class="Tn-l-userlogin clearfix">
                                                    <dt>
                                                        <img src="<%=request.session.user.img%>" onerror="this.src='/images/user.png'" width="60" height="60">
                                                    </dt>
                                                    <dd>
                                                        <h1>
                                                            <i>
                                                                <%=request.session.user.nickname%>
                                                            </i>

                                                        </h1>
                                                        <p>累计练习得分
                                                            <span id="cumulativeScore">
                                                                <%=request.session.user.score%>
                                                            </span>
                                                        </p>
                                                    </dd>
                                                </dl>
                                                <div class="Tn-l-userbtn">
                                                    <ul class="Tn-u-date clearfix">
                                                        <li>
                                                            <h1 class="todayCount">今日练习
                                                                <span></span>
                                                            </h1>
                                                            <p>
                                                                <span id="todayCount">
                                                                    <%=questionNum%>
                                                                </span>题</p>
                                                        </li>
                                                        <li>
                                                            <h1 class="todayScore">今日得分
                                                                <span></span>
                                                            </h1>
                                                            <p>
                                                                <span id="todayScore">
                                                                    <%=score?score:0%>
                                                                </span>分</p>
                                                        </li>
                                                        <li>
                                                            <h1>累计练习</h1>
                                                            <p>
                                                                <span id="cumulativeCount">
                                                                    <%=days%>
                                                                </span>天</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <%}%>
                                                <!--排行榜-->
                                                <div class="Tn-pb-witbg Tn-mt20">
                                                    <div class="Tn-number Tn-position">
                                                        <p>学霸排行榜</p>
                                                    </div>
                                                    <div class="Tn-phslelist nzkRankingList-head">
                                                        <% for(var i=0;i < top.length;i++){%>
                                                            <% if(i<3){%>
                                                                <dl class="Tn-u-info clearfix">
                                                                    <dt class="Tn-position open_all">

                                                                        <span class="noone open_son">NO.<%=(i+1)%></span>
                                                                        <div class="open_cont disnone Tn-i-userimg" style="display: none;">
                                                                            <ul class="clearfix Tn-userli">
                                                                                <li>
                                                                                    <h2>累计做题</h2>
                                                                                    <h3>593</h3>
                                                                                </li>
                                                                                <li>
                                                                                    <h2>累计练习得分</h2>
                                                                                    <h3>
                                                                                        <%=top[i].score%>
                                                                                    </h3>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </dt>
                                                                    <dd class="Tn-u-i-who">

                                                                        <h1>
                                                                            <%=top[i].nickname%>
                                                                        </h1>
                                                                    </dd>
                                                                    <dd>
                                                                        <h2>
                                                                            <%= top[i].score%>
                                                                        </h2>
                                                                    </dd>
                                                                </dl>
                                                                <%}else{%>
                                                                    <div class="Tn-u-Other nzkRankingList-other">
                                                                        <dl class="clearfix">
                                                                            <dt>
                                                                                <%=(i+1)%>
                                                                            </dt>
                                                                            <dd>
                                                                                <h1>
                                                                                    <%=top[i].nickname%>
                                                                                </h1>
                                                                            </dd>
                                                                            <dd style="margin-left: 150px">
                                                                                <p>
                                                                                    <%= top[i].score%>
                                                                                </p>
                                                                            </dd>
                                                                        </dl>

                                                                    </div>
                                                                    <%}%>
                                                                        <%}%>
                                                    </div>
                                                </div>
                                </div>
                            </div>
                        </div>

                        <!-- 公共脚页 -->
                        <%- include('./template/footer.ejs')%>
                            <!-- 脚步公共文件   -->
                            <script>
                            </script>
</body>

</html>