<!doctype html>
<html lang="zh">

<head>
    <%- include('./template/head.ejs',{title:'Top模考'}) %>
        <!-- 指南页样式文件 -->
</head>

<body>
    <%- include('./template/header.ejs')  %>
        <!--  banner -->
        <%- include('./template/banner.ejs')  %>

            <!-- 指南内容 部分  -->
            <%var mId = 0;%>
                <%if(request.session.user){mId = request.session.user.id}%>

                    <div class="guide_page">
                        <div class="Tn-wid1180 Tn-marauto">
                            <div class="clearfix">
                                <div class="fl Tn-wid880">
                                    <h1 class="Tn-crumbs">
                                        <a href="/"> 首页</a>&nbsp;&gt;&nbsp;TPO 模考</h1>

                                    <!--练习标题-->
                                    <div class="Tn-pb-witbg Tn-titlecont Tn-position">
                                        <h1 class="Tn-l-til">TPO模考
                                            <span>TOEFL PRACTICE ONLINE</span>
                                        </h1>
                                        <p class="Tn-g-font Tn-lh-24 Tn-mt5">TPO是英文TOEFL Practice Online 的缩写，即托福在线考试练习，TPO均为过往考试出过的真题，对考生考前模拟和复习有很大帮助。超能学TPO模考是为TOEFL考生提供全真模考环境，提前带考生适应考试环境。</p>
                                    </div>

                                    <!--列表-->
                                    <div class="Tn-pb-witbg Tn-mt20 Tn-miniheight955">
                                        <dl class="Tn-fl-listtop clearfix">
                                            <dt class="hover to">套题列表</dt>
                                            <dd>

                                                <% for (var j = 0; j < data.length; j++) {%>
                                                    <% var num1 = j + 1;
                                            var num2 = j + 5;
                                            if (num2 > data.length) {
                                                num2 = data.length;
                                            }
                                            %>
                                                        <a href="javascript:;" class='tot_1'>
                                                            <%=num1%>-
                                                                <%=num2%>
                                                        </a>
                                                        <% j += 5 - 1;%>
                                                            <%}%>
                                            </dd>
                                        </dl>
                                        <div class="Tn-l-box">

                                            <div class="clearfix TPOchange">
                                                <%data.forEach((val,index)=>{%>
                                                    <div class="Tn-mk-listbox Tn-position tot">
                                                        <a href="/mock/first?mId=<%=mId%>&id=<%=val.id%>" style="width:100%;height:100%;display:inline;">
                                                            <dl class="Tn-mk-listall">
                                                                <dt>
                                                                    <h1 class="Tn-bigfont-blu">TPO
                                                                        <%=index+1%>
                                                                    </h1>
                                                                </dt>
                                                                <dd class="Tn-mk-myscore">
                                                                    <div class="Tn-mk-ftitle">平台平均分</div>
                                                                    <ul class="Tn-mk-fnum">
                                                                        <%if(val.readScore){%>
                                                                            <li>阅读 <%=Math.round(val.readScore)%></li>
                                                                            <%}else{%>
                                                                              <li>阅读 --</li>  
                                                                                <%}%>
                                                                        
                                                                        <%if(val.listenScore){%>
                                                                            <li>听力 <%=Math.round(val.listenScore)%></li>
                                                                            <%}else{%>
                                                                              <li>听力 --</li>  
                                                                                <%}%>
                                                                    </ul>
                                                                </dd>
                                                                <dd class="Tn-mk-platformscore">
                                                                    <div class="Tn-mk-ftitle">平台平均分</div>
                                                                    <ul class="Tn-mk-fnum">
                                                                        <%if(val.readScore){%>
                                                                            <li>阅读 <%=Math.round(val.readScore)%></li>
                                                                            <%}else{%>
                                                                              <li>阅读 --</li>  
                                                                                <%}%>
                                                                        
                                                                        <%if(val.listenScore){%>
                                                                            <li>听力 <%=Math.round(val.listenScore)%></li>
                                                                            <%}else{%>
                                                                              <li>听力 --</li>  
                                                                                <%}%>
                                                                    </ul>
                                                                </dd>
                                                            </dl>

                                                            <div class="Tn-mk-status" style="width:0%;"></div>
                                                    </div>
                                                    </a>
                                                    <%})%>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fr Tn-wid280">
                                    <h1 class="Tn-crumbs Tn-tright">
                                        <a href="/exercise/listen" class="Tn-pl10">听力练习</a>
                                        <a href="/exercise/read" class="Tn-pl10">阅读练习</a>
                                        <a href="/exercise/spoken" class="Tn-pl10">口语练习</a>
                                        <a href="/exercise/write" class="Tn-pl10">写作练习</a>
                                    </h1>
                                    <!--未登录-->
                                    <%if(!request.session.user){%>
                                        <div class="Tn-pb-witbg Tn-wid280">
                                            <dl class="Tn-l-userlogin clearfix">
                                                <dt>
                                                    <img src="/images/user.png" width="60" height="60">
                                                </dt>
                                                <dd>
                                                    <h1>欢迎来到贝英尔</h1>
                                                    <p>登录即可查看学习记录</p>
                                                </dd>
                                            </dl>

                                            <div class="Tn-l-userbtn">
                                                <input name="" type="button" onclick="javascript:window.location.href='/user/to/login'" value="立即登录" class="Tn-lr-login">
                                                <input name="" type="button" onclick="javascript:window.location.href='/user/to/regist'" value="立即注册" class="Tn-lr-register Tn-ml20">
                                            </div>
                                        </div>
                                        <%}else{%>
                                            <div class="Tn-pb-witbg Tn-wid280">
                                                <dl class="Tn-l-userlogin clearfix">
                                                    <dt>
                                                      <img src="<%=request.session.user.img%>" onerror="this.src='/images/user.png'" width="60" height="60">
                                                    </dt>
                                                    <dd>
                                                        <h1>
                                                            <i>
                                                                <%=request.session.user.nickname%>
                                                            </i>

                                                        </h1>
                                                        <p>累计练习得分
                                                            <span id="cumulativeScore">
                                                                <%=request.session.user.score%>
                                                            </span>
                                                        </p>
                                                    </dd>
                                                </dl>
                                                <div class="Tn-l-userbtn">
                                                    <ul class="Tn-u-date clearfix">
                                                        <li>
                                                            <h1 class="todayCount">今日练习
                                                                <span></span>
                                                            </h1>
                                                            <p>
                                                                <span id="todayCount">
                                                                    <%=questionNum%>
                                                                </span>题</p>
                                                        </li>
                                                        <li>
                                                            <h1 class="todayScore">今日得分
                                                                <span></span>
                                                            </h1>
                                                            <p>
                                                                <span id="todayScore">
                                                                    <%=score?score:0%>
                                                                </span>分</p>
                                                        </li>
                                                        <li>
                                                            <h1>累计练习</h1>
                                                            <p>
                                                                <span id="cumulativeCount">
                                                                    <%=days%>
                                                                </span>天</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <%}%>
                                                <!--排行榜-->
                                                <div class="Tn-pb-witbg Tn-mt20">
                                                    <div class="Tn-number Tn-position">
                                                        <p>学霸排行榜</p>
                                                    </div>
                                                    <div class="Tn-phslelist nzkRankingList-head">
                                                    <% for(var i=0;i < top.length;i++){%>
                                                        <% if(i<3){%>

                                                            <dl class="Tn-u-info clearfix">
                                                                <dt class="Tn-position open_all">
                                                                    <span class="noone open_son">NO.<%=(i+1)%>
                                                                    </span>
                                                                    <div class="open_cont disnone Tn-i-userimg" style="display: none;">
                                                                        <ul class="clearfix Tn-userli">

                                                                            <li>
                                                                                <h2>累计练习得分</h2>
                                                                                <h3>
                                                                                    <%=top[i].score%>
                                                                                </h3>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </dt>
                                                                <dd class="Tn-u-i-who">
                                                                    <h1>
                                                                        <%=top[i].nickname%>
                                                                    </h1>

                                                                </dd>
                                                                <dd>
                                                                    <h2>
                                                                        <%= top[i].score%>
                                                                    </h2>
                                                                </dd>
                                                            </dl>
                                                            <%}else{%>
                                                                <div class="Tn-u-Other nzkRankingList-other">
                                                                    <dl class="clearfix">
                                                                        <dt>
                                                                            <%=(i+1)%>
                                                                        </dt>
                                                                        <dd>
                                                                            <h1>
                                                                                <%=top[i].nickname%>
                                                                            </h1>
                                                                        </dd>
                                                                        <dd style="margin-left: 150px;">
                                                                            <p>
                                                                                <%= top[i].score%>
                                                                            </p>
                                                                        </dd>
                                                                    </dl>

                                                                </div>
                                                                <%}%>
                                                                    <%}%>



                                                </div>
                                                </div>




                                </div>

                            </div>
                        </div>

                    </div>

                    <!-- 公共脚页 -->
                    <%- include('./template/footer.ejs')%>
                        <!-- 脚步公共文件   -->
                        <script>
                            var arr = $(".tot");
                            var arr_1 = $(".tot_1");
                            arr_1.each((index, a) => {
                                a.onclick = function () {
                                    for (var i = 0, len = arr.length; i < len; i++) {
                                        if (index * 5 <= i && i <= index * 5 + 4) {
                                            arr[i].style.display = "block";
                                        } else {
                                            arr[i].style.display = "none";
                                        }
                                    }
                                }
                            });
                            $(".to").on("click",function(){
                                $(".tot").css("display","block");
                            })
                        </script>
</body>

</html>