.nzkChoiceQuestionBox {
    padding: 20px 26px 26px 30px;
    font-size: 16px;
    color: #686868;
    background: #fff;
}

.nzkChoiceQuestionBox p {
    font-size: 18px;
    color: #444;
}

.nzkChoiceQuestionBox h6 {
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
}

.nzkChoiceQuestionBox a {
    display: inline-block;
    width: 96px;
    height: 32px;
    border-radius: 6px;
    background: #fff;
    color: #4773dc;
    border: 1px solid #4773dc;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    margin-top: 20px;
}

.nzkChoiceQuestionBox a:hover {
    background: #4773dc;
    color: #fff;
}

.nzkSoundRecording {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.nzkSoundRecordingLeft {
    background: #fff;
    width: 836px;
    height: 519px;
    float: left;
}

.nzkMyRecording {
    background: #f6f6f9;
}

.nzkMyRecording li {
    width: 120px;
    height: 60px;
    float: left;
    font-size: 18px;
    line-height: 60px;
    margin-left: 50px;
    text-align: center;
}

.nzkMyRecording a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #303030;
}

.nzkMyRecording .activeRecording {
    color: #4674dd;
    background: #fff;
}

.nzkMyRecording li:nth-child(1) {
    margin-left: 38px;
}

.nzkRecordingWrap>div {
    display: none;
}

.nzkRecordingBoxWrap {
    padding: 0 26px 0 14px;
    margin-right: -12px;
    min-height: 390px;
}

.nzkRecordingBoxWrap li {
    width: 394px;
    margin-top: 20px;
}

.nzkRecordingLeft {
    float: left;
    margin-right: 10px;
}

.nzkRecordingRight {
    float: right;
}

.nzkRecording {
    background: #f6f6f9;
    padding: 10px;
}

.nzkRecording img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 18px;
}

.nzkRecording>div {
    float: left;
    width: 300px;
}

.nzkUser {
    margin-bottom: 5px;
}

.nzkUser span {
    float: left;
    font-size: 14px;
    color: #3d3d3d;
}

.nzkUser i {
    float: right;
    font-size: 14px;
    color: #7f7f7f;
}

.nzkVideoDrag {
    margin-left: -6px;
    width: 310px;
}

.nzkProgress {
    width: 216px;
}

.ball {
    border-radius: 50%;
}

.nzkFabulous {
    margin-left: 10px;
    display: inline-block;
    padding-left: 30px;
    font-size: 14px;
    color: #4674dd;
    background: url(/images/topone.png) no-repeat;
    margin-top: 10px;
}

.nzkFabulous:hover {
    opacity: 0.8;
}

.nzkFabulous-del {
    margin-left: 295px;
    display: inline-block;
    font-size: 14px;
    color: #4674dd;
    margin-top: 10px;
}

.nzkFabulous-del:hover {
    opacity: 0.8;
}

.nzkSoundRecordingRight {
    float: right;
    width: 346px;
}

.nzkAdvertisement {
    width: 100%;
}

.nzkAdvertisement img {
    width: 100%;
}

.nzkAllPractice {
    padding: 22px 0 10px 22px;
    background: #fff;
}

.nzkAllPractice dt {
    font-size: 14px;
    color: #303030;
}

.nzkAllPractice a {
    font-size: 16px;
    color: #909090;
    line-height: 44px;
}

.nzkAllPractice a:hover {
    color: #467ddd;
}

.nzkteacherRecordingWarp {
    width: 800px;
    height: 80px;
    margin: 0 auto;
    background: #f6f6f9;
}

.teacherPlay {
    width: 65px;
    height: 65px;
    background: url(/images/bigplay1.png) no-repeat;
    display: inline-block;
    margin: 8px 14px 0 16px;
    vertical-align: top;
}

.nzkRecordingDrag {
    display: inline-block;
    position: relative;
    width: 696px;
}

.nzkRecordingDrag img {
    width: 696px;
    height: 80px;
    display: inline-block;
}

.nzkPosition {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 80px;
    background: url(/images/drag.png) no-repeat;
}

.nzkRecordingTime {
    text-align: center;
    font-size: 14px;
    color: #969696;
    margin-top: 10px;
}

.nzkPresentation {
    padding: 0 20px;
}

.nzkPresentation h4 {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}

.nzkPresentation p {
    font-size: 16px;
    color: #909090;
}

#wrapper {
    height: 400px;
    overflow: hidden;
    position: relative;
}

#wrapper>div {
    padding-top: 20px;
}

.page {
    margin-top: 20px;
    padding-left: 20px;
}

#pageAnswer {
    margin-top: 10px;
}

.nzkMaterialScience>div {
    display: none;
}

#materialScience p {
    font-size: 16px;
    color: #444;
}

.nzkListening {
    float: left;
}

.nzkListening li {
    width: 110px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.nzkListening a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #606060;
    font-size: 18px;
}

.nzkListening a:hover {
    color: #4674de;
}

.nzkListening .activeNum {
    color: #4674de;
}

.nzkSpeedWrap {
    width: 580px;
    height: 84px;
    background: #f6f6f9;
    margin-top: 20px;
}

.nzkSpeedWrap .nzkPlay {
    width: 65px;
    height: 65px;
    float: left;
    background: url(/images/bigplay1.png) no-repeat;
    margin-top: 10px;
}

.nzkDragSpeed {
    width: 348px;
    height: 8px;
    background: #c9c9c9;
    border-radius: 2px;
    float: left;
    position: relative;
    margin-top: 38px;
}

.nzkDragSpeed i {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #4674de;
}

.nzkDragSpeed a {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -11px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc, -1px -1px 1px #ccc, -1px 1px 1px #ccc, 1px -1px 1px #ccc;
}

.nzkSpeedWrap b {
    color: #7f7f7f;
    float: left;
    margin-top: 34px;
    margin-left: 10px;
}

.nzkChangeVolume {
    float: left;
    position: relative;
    margin-top: 10px;
}

.nzkChangeVolume a {
    display: inline-block;
    width: 65px;
    height: 65px;
    background-size: 100% 100%;
    background: url("../images/volume.png") no-repeat;
    cursor: pointer;
}

.tlvolumeWrapper {
    position: absolute;
    top: 74px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    height: 30px;
    border-radius: 15px;
    background: #fff;
    text-align: center;
    cursor: default;
    z-index: 9999;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: none;
}

.triangle {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: -6px;
    margin-left: -6px;
    border: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-top: none;
}

.progress {
    width: 120px;
    height: 2px;
    background: #c3d0e6;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -1px;
}

.speed {
    width: 0%;
    height: 2px;
    background: #3978e6;
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -1px;
}

.ballDrag {
    width: 14px;
    height: 14px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -7px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #ccc, -1px -1px 1px #ccc, -1px 1px 1px #ccc, 1px -1px 1px #ccc;
}

.nzkStem {
    margin-top: 44px;
    padding-right: 20px;
    min-height: 152px;
    color: #444;
    font-size: 18px;
}

.nzkStem strong {
    font-size: 16px;
    color: #444444;
}

.nzkShowPicture {
    text-align: left;
}

.nzkShowPicture p {
    font-size: 16px;
    color: #444;
}

.ruestionsplay {
    display: inline-block;
    width: 44px;
    height: 44px;
    background: url(/images/volumeone.png) no-repeat;
    vertical-align: middle;
    cursor: pointer;
}

#nzkCommentRight a {
    display: block;
    overflow: hidden;
    border-radius: 6px;
}
