<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal">
    <div class="am-modal-dialog">
       
        
        <div class=""  style="padding-top:30px;">
            <h4 class="tpl-content-page-title" style="text-align:center">
                发布题目口语
           
            </h4>
         
            
                    <div class="tpl-block">
                        <div class="am-g">
                            <div class="tpl-form-body tpl-form-line">
                                <form class="am-form tpl-form-line-form" id='form1' enctype="multipart/form-data" method="POST" action="/backend/questionBank/api/TaddSpeakMaterial"
                                    target="hidden-iframe">
                                    <input type="number" value="<%= userToken.id %>" name="tId" style="display:none" id="tId">
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">标题
                                            <span class="tpl-form-line-small-title">※</span>
                                        </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="user-names" minlength='1' maxlength="50" name="title" placeholder="请输入标题文字">
                                            <small>标题长度不超过50个字母。</small>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-phone" class="am-u-sm-3 am-form-label">难度
                                            <span class="tpl-form-line-small-title">※</span>
                                        </label>
                                        <div class="am-u-sm-9">
                                            <select data-am-selected="" name="dId" class="nans">
                                                <option value="1">高中</option>
                                                <option value="2">四级</option>
                                                <option value="3">六级</option>
                                                <option value="4">托福</option>
                                                <option value="5">托福TPO5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-weibo" class="am-u-sm-3 am-form-label">添加口语图片
                                            <span class="tpl-form-line-small-title"></span>
                                        </label>
                                        <div class="am-u-sm-9">
                                            <div class="am-form-group am-form-file">
                                                <button class="am-btn am-btn-primary">
                                                    <i class="am-icon-cloud-upload"></i>请选择你要上传的图片</button>
                                                <input type="file" name="img" onchange="change(this)" multiple="multiple" id="img1s" accept="image/*" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-weibo" class="am-u-sm-3 am-form-label">添加原文MP4
                                            <span class="tpl-form-line-small-title"></span>
                                        </label>
                                        <div class="am-u-sm-9">
                                            <div class="am-form-group am-form-file">
                                                <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                                    <i class="am-icon-cloud-upload"></i> 选择要上传的MP4</button>
                                                <input id="fileId1s" type="file" onchange="change(this)" accept="audio/*,video/*" name="mp4ForO" />
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-weibo" class="am-u-sm-3 am-form-label">添加要求录音MP4
                                            <span class="tpl-form-line-small-title">※</span>
                                        </label>
                                        <div class="am-u-sm-9">
                                            <div class="am-form-group am-form-file">
                                                <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                                    <i class="am-icon-cloud-upload"></i> 选择要上传的MP4</button>
                                                <input id="fileId2s" type="file"  onchange="change(this)" accept="audio/*,video/*" name="mp4ForA" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-weibo" class="am-u-sm-3 am-form-label">添加问题录音MP4
                                            <span class="tpl-form-line-small-title">※</span>
                                        </label>
                                        <div class="am-u-sm-9">  
                                            <div class="am-form-group am-form-file">
                                                <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                                    <i class="am-icon-cloud-upload"></i> 选择要上传的MP4</button>
                                                <input id="fileId3s" type="file" onchange="change(this)" accept="audio/*,video/*" name="mp4ForQ" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-weibo" class="am-u-sm-3 am-form-label">添加情景分类
                                            <span class="tpl-form-line-small-title">※</span>
                                        </label>
                                        <div class="am-u-sm-9">
                                            <select data-am-selected="" name="topicId" id="ops">
                                                <option value="1">生物</option>
                                                <option value="2">历史</option>
                                                <option value="3">地质</option>
                                                <option value="4">艺术</option>
                                                <option value="5">心理</option>
                                                <option value="6">坏境科学</option>
                                                <option value="7">生态</option>
                                                <option value="8">考古</option>
                                                <option value="9">天文</option>
                                                <option value="10">教育</option>
                                                <option value="11">其他</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-intro" class="am-u-sm-3 am-form-label">题目问题
                                            <span class="tpl-form-line-small-title">※</span>
                                        </label>
                                        <div class="am-u-sm-9">
                                            <textarea class="" rows="5" id="user-intros" name="question" placeholder="请输入问题详情"></textarea>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="editor_1" class="am-u-sm-3 am-form-label">阅读材料
                                            <span class="tpl-form-line-small-title"></span>
                                        </label>
                                        <div class="am-u-sm-9">
                                            <script id="editor_1" type="text/plain" style="width:700px;height:400px;" name="material"></script>

                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="editor" class="am-u-sm-3 am-form-label">原文内容
                                            <span class="tpl-form-line-small-title"></span>
                                        </label>
                                        <div class="am-u-sm-9">
                                            <script id="editor" type="text/plain" style="width:700px;height:400px;" name="original"></script>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success " id="gos">上传</button>
                                            <span class="tpl-form-line-small-title">带※项为必填项，请填写完毕后再点击上传</span>
                                        </div>
                                    </div>
                                </form>
                                <iframe name="hidden-iframe" style="display: block; width: 650px;height: 200px;overflow: hidden; background-color: pink;display: none"></iframe>
                            </div>
                        </div>
                        </div>
                
                 
        </div>
      
      