<html class="ks-webkit537 ks-webkit ks-chrome65 ks-chrome" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        查看听力
    </title>
    <link rel="stylesheet" href="/stylesheets/exAll.css">
    <link rel="stylesheet" href="/stylesheets/tole.css">

</head>

<body>
    <div class="box">
        <%var mId=request.session.user.id%>
            <% material.forEach(val=>{%>
                <div id="content1" class="tf-navtop">
                    <div class="nav-box wid1200 margin-auto">
                        <div class="c top-line pb10">
                            <div class="left ">
                                <dl class="nav-logo c">
                                    <dt>
                                        <a href="/" class="ziti">
                                            英贝尔
                                        </a>
                                    </dt>
                                    <dd class="nav-tf">
                                        <h1>LISTEN</h1>
                                        <p>
                                            <%=val.title%>
                                        </p>
                                    </dd>
                                </dl>
                            </div>
                            <div class="right mt30">
                                <span href="javascript:void(0);" class="y-blu-but but-afont ml10 posiRa">
                                    <span class="VOL-blu-bg" id="volume">VOLUME</span>
                                    <div id="audoRangeDiv" class="tlvolumeWrapper">
                                        <!-- <input type="range"> -->
                                        <div class="progress" id="tiao">
                                            <i class="speed" id="jindu"></i>
                                            <span class="ball" id="yuan"></span>
                                        </div>

                                        <span class="triangle"></span>
                                    </div>
                                </span>
                                <a href="/exercise/listen/translate/third?mock=<%=mock%>&mockRId=<%=mockRId%>&id=<%=val.id%>&mId=<%=mId%>&sId=<%=sId%>&rId=<%=rId%>&lId=<%=lId%>&wId=<%=wId%>"
                                    id="next" style="display: none;">CONTINUE</a>

                            </div>
                        </div>

                        <div class="c mt10">
                            <a href='/exercise/listen' style='text-decoration: none;' class="ylow-but but-font popbox-link left">
                                <dt>退出</dt>
                                <dd>练习</dd>
                            </a>
                        </div>
                    </div>

                </div>

                <div role="docAudio" class="center-bao" style="display:block">
                    <div class="vol-newAudio">
                        <audio src="<%=val.mp4%>" id='playad' style="display:block" onended="end()" autoplay></audio>
                        <img src="/images/speakDefault.png" time="doc_" width="500" height="300">
                    </div>
                    <div class="aduio-area">
                        <div class="audioWrapper">
                            <div class="progressBar" id='bar'>
                                <div class="progressBac " id='bac'>
                                    <div class="speed" id="speed"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%})%>
    </div>
    <%- include('../template/foot.ejs')  %>
        <script src="/javascript/progress.js"></script>
        <script>
            $("#next").click(function () {
                window.location = $(this).attr("href");
            })
            var myVid = document.getElementById("playad");
            var left, ding;

            ding = setInterval(function () {
                left = parseInt($('#bar').css('width')) / parseInt(myVid.duration);
                $('#speed').css('left', -(parseInt($('#bar').css('width'))) + (parseInt(myVid.currentTime) *
                    left) + 'px');
            }, 100);


            function end() {
               
                window.location = $("#next").attr("href");
            }
        </script>
</body>

</html>