<html class="ks-webkit537 ks-webkit ks-chrome65 ks-chrome" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        查看听力
    </title>
    <link rel="stylesheet" href="/stylesheets/exAll.css">
    <link rel="stylesheet" href="/stylesheets/tole.css">

</head>

<body>
    <div class="box">
        <%var mId=request.session.user.id%>
            <% rMaterial.forEach(val=>{%>
                <div id="content1" class="tf-navtop">
                    <div class="nav-box wid1200 margin-auto">
                        <div class="c top-line pb10">
                            <div class="left ">
                                <dl class="nav-logo c">
                                    <dt>
                                        <a href="/" class="ziti">
                                            英贝尔
                                        </a>
                                    </dt>
                                    <dd class="nav-tf">
                                        <h1>SPOKEN</h1>
                                        <p id="pName">
                                            <%=val.title%>
                                        </p>
                                    </dd>
                                </dl>
                            </div>
                            <div class="right mt30">

                                <span id="nextContinue" class="blu-but but-afont ml10" href="/exercise/spoken/translate/sixth?id=<%=val.id%>&mId=<%=mId%>&mock=<%=mock%>&mockRId=<%=mockRId%>&sId=<%=sId%>&rId=<%=rId%>&lId=<%=lId%>&wId=<%=wId%>">CONTINUE</span>
                                <span href="javaScript:;" class="y-blu-but but-afont ml10 left posiRa">
                                
                                </span>
                            </div>
                        </div>

                        <div class="c mt10">
                            <div class="left wid200">
                                <a href='/exercise/spoken' style='text-decoration: none;' class="ylow-but but-font popbox-link left">
                                    <dt>退出</dt>
                                    <dd>练习</dd>
                                </a>

                            </div>
                            <div class="top-nav-tile wid800 left">
                                <p></p>
                            </div>
                            <p class="right">

                            </p>
                        </div>

                    </div>

                </div>

                <div class="c search_article" id="content" style="height: 472px;">
                    <div class="center-bao">
                        <div class="wid800 margin-auto">
                            <div class="mt10 single-sle pt60">
                                <h1>
                                    <p>
                                        <%=val.rMaterial%>
                                    </p>
                                </h1>

                               
                            </div>
                        </div>
                    </div>
                </div>
                <%})%>
    </div>
    <%- include('../template/foot.ejs')  %>

        <script>
            $("#nextContinue").click(function () {
                window.location = $(this).attr("href");
            })
        </script>
</body>

</html>