 <div class="canlendarWrap bgwhite radius2px shadow">
    <div id="calendar"></div>
    <div class="signWrap">
        <p class="punchClockBtnIsMark"></p>
        <a href="javascript:;" class="sign" id="sign">打卡</a>
        <a href="javascript:;" class="signed" id="signed">已打卡</a>
    </div>
</div>