<div class="SLfooter">
    <div class="SLfooterWrap">
        <div class="footerInfo clearfix">
            <dl>
                <dt>关于英贝尔</dt>
                <dd>
                    <a href="#">了解我们</a>
                </dd>
                <dd>
                    <a href="#">网站条款</a>
                </dd>
            </dl>
            <dl>
                <dt>英贝尔</dt>
            </dl>
        </div>
        <div class="copyrightInfo">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, optio illo? Nemo impedit, sed numquam eligendi fugiat animi autem sapiente debitis magni, inventore quae aliquam omnis exercitationem praesentium velit necessitatibus.
                <br>©2018 </p>
        </div>
    </div>
</div>
 <%- include('./foot.ejs')  %>